

.container {
    text-align: center;
}

.content {
    text-align: center;
}

#img-preview{
    text-align: center;

}

.img-preview>div {
    height: 400px;
    background-size: 420px 420px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 2px;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5px;
    height: 5px;s
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}